{% extends 'base.html' %}
{% load static %}
{% load goods_tags %}

{% block content %}
  <div id="content">
    <div class="container background-white">
      <div class="row margin-vert-30">
        <div class="col-md-12">
          <h2>Каталог мобильных вешалок</h2>
          <!-- Filter Buttons -->
          <div class="portfolio-filter-container margin-top-20">
            <ul class="portfolio-filter">
              <li class="portfolio-filter-label label label-primary">filter by:</li>
              <li>
                {% tag_categories as categories %}
                {% for category in categories %}
                  <a href="{% url 'catalog:index' category.slug %}" class="portfolio-selected btn btn-default" data-filter="#">{{ category.name }}</a>
                {% endfor %}
              </li>
            </ul>
          </div>
          <!-- End Filter Buttons -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 portfolio-group no-padding">
          {% for product in goods %}
            <!-- Portfolio Item -->
            <div class="col-md-6 portfolio-item margin-bottom-40 filer-code">
              <div>
                <a href="{% url 'catalog:product' product.slug %}">
                  <figure>
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" />
                    <figcaption>
                      <h3 class="product-name">{{ product.name }}</h3>
                      <div class="product-details">
                        <div class="display-id">id: {{ product.display_id }}</div>
                      </div>
                    </figcaption>
                  </figure>
                </a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <!-- Pagination -->
  <div class="text-center">
    <ul class="pagination">
      {% for page in goods.paginator.page_range %}
        <li>
          <a href="{% url 'catalog:index' slug_url page %}">{{ page }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
