{% extends "base.html" %}
{% load static %}
{% block content %}
{% if messages %}
<div class="container">
    {% for message in messages %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}
      <div id="slideshow" class="bottom-border-shadow">
        <div class="container no-padding background-white bottom-border">
          <div class="row">
            <!-- Carousel Slideshow -->
            <div id="carousel-example" class="carousel slide" data-ride="carousel">
              <!-- Carousel Indicators -->
              <div class="clearfix"></div>
              <!-- End Carousel Indicators -->
              <!-- Carousel Images -->
              <div class="item active">
                <img src="{% static 'img/slideshow/slide1.jpg' %}" />
              </div>
            </div>
          </div>
          <!-- End Carousel Slideshow -->
        </div>
      </div>
    </div>
    <div id="icons" class="bottom-border-shadow">
      <div class="container background-grey bottom-border">
        <div class="row padding-vert-60">
          <!-- Icons -->
          <div class="col-md-4 text-center">
            <i class="fa-gear fa-4x color-primary animate fadeIn"></i>
            <h2 class="padding-top-10 animate fadeIn">Собственное производство</h2>
            <p class="animate fadeIn">Собственное производство гарантирует хорошее качество и доступные цены.</p>
          </div>
          <div class="col-md-4 text-center">
            <i class="fa-thumbs-o-up fa-4x color-primary animate fadeIn"></i>
            <h2 class="padding-top-10 animate fadeIn">Качественные материалы</h2>
            <p class="animate fadeIn">Мы используем только качественные материалы, благодаря которым Вы можете быть уверены в высоком качестве наших изделий.</p>
          </div>
          <div class="col-md-4 text-center">
            <i class="fa-level-up fa-4x color-primary animate fadeIn"></i>
            <h2 class="padding-top-10 animate fadeIn">Высокое качество продукции</h2>
            <p class="animate fadeIn">Наша продукция отличается высоким качеством благодаря тщательному контролю на всех этапах производства.</p>
          </div>
          <!-- End Icons -->
        </div>
      </div>
    </div>
    <div id="content" class="bottom-border-shadow">
      <div class="container background-white bottom-border">
        <div class="row margin-vert-30">
          <!-- Main Text -->
          <div class="col-md-6">
            <h2>Мобильная вешалка</h2>
            <p>Ищете практичное и стильное решение для хранения одежды? Представляем вам мобильную вешалку – идеальное решение для организации вашего гардероба. Современный образ жизни требует мобильности и функциональности, и мобильная вешалка отвечает этим потребностям на все 100%.</p>
            <p>Наша мобильная вешалка обеспечивает не только удобство, но и элегантный дизайн, который подходит для любого интерьера. Вы можете легко перемещать её по вашему дому или офису, а также использовать на открытых мероприятиях или в комнатах с ограниченным пространством.</p>
            <p>Сочетание прочного материала и стабильной конструкции делает нашу мобильную вешалку надежным решением для хранения вашей одежды. Она легко собирается и разбирается, что делает процесс транспортировки и хранения максимально удобным.</p>
          </div>
          <!-- End Main Text -->
          <div class="col-md-6">
            <h3 class="padding-vert-10">Преимущества мобильной вешалки:</h3>
            <ul class="tick animate fadeInRight">
              <li>Максимальная практичность</li>
              <li>Удобство использования</li>
              <li>Компактный дизайн</li>
              <li>Надёжность и прочность</li>
              <li>Эстетичный дизайн</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Portfolio -->
    <div id="portfolio" class="bottom-border-shadow">
      <div class="container bottom-border">
        <div class="row padding-top-40">
          <ul class="portfolio-group">
            <!-- Portfolio Item -->
            <li class="portfolio-item col-sm-4 col-xs-6 margin-bottom-40">
              <a href="{% url "goods:vse_tovary" %}">
                <figure class="animate fadeInLeft">
                  <img alt="image1" src="{% static 'img/frontpage/image1.jpg' %}" />
                  <figcaption>
                    <h3>Напольная вешалка рейл для одежды</h3>
                    <span>Просто и компактно: наша напольная вешалка-рейл для вашей одежды. Идеальное решение для порядка и удобства.</span>
                  </figcaption>
                </figure>
              </a>
            </li>
            <!-- //Portfolio Item// -->
            <!-- Portfolio Item -->
            <li class="portfolio-item col-sm-4 col-xs-6 margin-bottom-40">
              <a href="{% url "goods:vse_tovary" %}">
                <figure class="animate fadeIn">
                  <img alt="image2" src="{% static 'img/frontpage/image2.jpg' %}" />
                  <figcaption>
                    <h3>Двойные вешалки рейл для одежды</h3>
                    <span>Удвойте пространство для вашей одежды с нашей двойной напольной вешалкой-рейлом! Практичное решение для организации вашей гардеробной.</span>
                  </figcaption>
                </figure>
              </a>
            </li>
            <!-- //Portfolio Item// -->
            <!-- Portfolio Item -->
            <li class="portfolio-item col-sm-4 col-xs-6 margin-bottom-40">
              <a href="{% url "goods:vse_tovary" %}">
                <figure class="animate fadeInRight">
                  <img alt="image3" src="{% static 'img/frontpage/image3.jpg' %}" />
                  <figcaption>
                    <h3>Вешалки с панелями</h3>
                    <span>Организуйте пространство с элегантностью! Наши вешалки с панелями предоставляют идеальное сочетание стиля и функциональности для вашей одежды и аксессуаров.</span>
                  </figcaption>
                </figure>
              </a>
            </li>
            <!-- //Portfolio Item// -->
            <!-- Portfolio Item -->
            <li class="portfolio-item col-sm-4 col-xs-6 margin-bottom-40">
              <a href="{% url "goods:vse_tovary" %}">
                <figure class="animate fadeInLeft">
                  <img alt="image4" src="{% static 'img/frontpage/image4.jpg' %}" />
                  <figcaption>
                    <h3>Вешалки рейл с панелями</h3>
                    <span>Универсальное решение для организации пространства! Наши вешалки-рейлы с панелями обеспечивают стильное хранение одежды и аксессуаров.</span>
                  </figcaption>
                </figure>
              </a>
            </li>
            <!-- //Portfolio Item// -->
            <!-- Portfolio Item -->
            <li class="portfolio-item col-sm-4 col-xs-6 margin-bottom-40">
              <a href="{% url "goods:vse_tovary" %}">
                <figure class="animate fadeIn">
                  <img alt="image5" src="{% static 'img/frontpage/image5.jpg' %}" />
                  <figcaption>
                    <h3>Двойная вешалка с панелями</h3>
                    <span>Удвойте удобство с нашей двойной вешалкой-рейлом с панелями! Идеальное решение для эффективной организации вашей одежды и аксессуаров.</span>
                  </figcaption>
                </figure>
              </a>
            </li>
            <!-- //Portfolio Item// -->
            <!-- Portfolio Item -->
            <li class="portfolio-item col-sm-4 col-xs-6 margin-bottom-40">
              <a href="{% url "goods:vse_tovary" %}">
                <figure class="animate fadeInRight">
                  <img alt="image6" src="{% static 'img/frontpage/image6.jpg' %}" />
                  <figcaption>
                    <h3>Вешалки с двумя панелями и рейлами</h3>
                    <span>Организация в два раза эффективнее! Наши вешалки с двумя панелями и рейлами обеспечивают удобное и стильное хранение одежды и аксессуаров.</span>
                  </figcaption>
                </figure>
              </a>
            </li>
            <!-- //Portfolio Item// -->
          </ul>
        </div>
      </div>
    </div>
    {% endblock content %}
    <!-- End Portfolio -->
    <!-- === END CONTENT === -->

